<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the web page -->
    <title>Ann's Kitchen</title>
    <link rel="icon" href="{{ url_for('static', path='img/favicon.ico') }}" type="image/png">

    {% block head %}

        <!-- Style sheets import -->
        {% include 'libs/style.html' %}

    {% endblock %}

    {% block extra_head%}
    {% endblock%}

</head>

<body>
    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}


    {% block scripts %}

        <!-- Scripts sheets import -->
        {% include 'libs/scripts.html' %}

    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>